DB_HOST=er-search-rds-prod.cvygee0qshw5.ap-northeast-2.rds.amazonaws.com
DB_PORT=3306
DB_USER=CHANGE_ME
DB_PASSWORD=CHANGE_ME
DB_NAME=ER_RDS_DB

AWS_REGION=ap-northeast-2
AWS_DEFAULT_REGION=ap-northeast-2
TRAINING_ARTIFACT_BUCKET=CHANGE_ME
TRAINING_ARTIFACT_PREFIX=er-training-prod
TRAINING_XGB_DEVICE=cpu

# Optional
TRAINING_MODEL_SUFFIX=
PROJECT_ROOT=/home/ec2-user/ER_search_character
PYTHON_BIN=python3
RUN_DATE=
